{% extends './layout.html' %}

{% block title %} Prueba de medias {% endblock %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Prueba de Medias</h1>
    <div class="">
        <button class="btn btn-primary" id="midSquare">Ingresar Parametros</button>
        <button class="btn btn-danger" id="graph"> Mostrar Grafica</button>
        <button class="btn btn-info" id="export">Exportar datos</button>
    </div>

    <!-- Modal Parameters -->
    <div class="modal show" id="myModalB" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese los valores</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('mean_square_post') }}">
                        <div class="mb-3">
                            <label for="seed" class="col-form-label">seed</label>
                            <input type="number" class="form-control" id="seed" name="seed" required>
                        </div>
                        <div class="mb-3">
                            <label for="minimum" class="col-form-label">minimum</label>
                            <input type="number" class="form-control" id="minimum" name="minimum" required>
                        </div>
                        <div class="mb-3">
                            <label for="maximum" class="col-form-label">maximum</label>
                            <input type="number" class="form-control" id="maximum" name="maximum" required>
                        </div>
                        <div class="mb-3">
                            <label for="iterations" class="col-form-label">iterations</label>
                            <input type="number" class="form-control" id="iterations" name="iterations" required>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Calcular</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div style="margin: 20px">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">i</th>
                <th scope="col">Xi</th>
                <th scope="col">Xi^2</th>
                <th scope="col">Extencion</th>
                <th scope="col">Extraccion</th>
                <th scope="col">Ri</th>
                <th scope="col">Ni</th>
            </tr>
            </thead>
            <tbody>
            {% for datum in data %}
                <tr>
                    <th scope="row">{{ datum[0] }}</th>
                    <td>{{ datum[1] }}</td>
                    <td>{{ datum[2] }}</td>
                    <td>{{ datum[3] }}</td>
                    <td>{{ datum[4] }}</td>
                    <td>{{ datum[5] }}</td>
                    <td>{{ datum[6] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--Grafica-->
    <div class="modal show" id="myModalG" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalH">GRAFICA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/meanSquare.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.getElementById("graph").addEventListener("click", createGraph);

        function createGraph() {
            function test_func(data) {
                const values = data.map(({0: yi, 6: xi}) => ({yi, xi}))
                $("#myModalG").modal('show');
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: values.map(({yi}) => yi),
                        datasets: [{
                            label: '',
                            data: values.map(({xi}) => xi),
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
            test_func({{ data|safe }});
        }
    </script>
    <script>
        document.getElementById("export").addEventListener("click", exportData);

        function exportData() {
            const dataEntry = {{ data|safe }};
            const data = dataEntry.map(({5: ri}) => ({ri}))
            const csvContent = "data:text/csv;charset=utf-8," + data.map(e => e.ri).join("\n");
            const encodedUri = encodeURI(csvContent);
            const link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "mainSquare.csv");
            document.body.appendChild(link);
            link.click();
        }
    </script>
{% endblock %}